<div class="title_line"></div>
<h1>
  Create a new <b>CUTFISH</b> Account
</h1>



<div class="users_form users_form_sign_up">
  
  
  <div class="users_block_circle users_block_circle_up_1">
    <div class="users_block_circle_image"></div>
  </div>
  <div class="users_block_circle users_block_circle_up_2">
    <div class="users_block_circle_image"></div>
  </div>
  <div class="users_block_circle users_block_circle_up_3">
    <div class="users_block_circle_image"></div>
  </div>
  <div class="users_block_circle users_block_circle_up_4">
    <div class="users_block_circle_image"></div>
  </div>
  
  <div class="users_form_background_1"></div>
  <div class="users_form_background_2"></div>
  <div class="users_form_background_3"></div>
  
  <div class="users_form_main_content">
      
    <div class="users_form_menu">
      <a href='/users/sign_in' class="users_form_menu_point">
      </a>
      
    </div>

    
    <form class="users_form_content js-form-reg">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      
      <input type="email" name="user[email]" placeholder="Email">
      <input type="password" name="user[password]" placeholder="Password">
      <input type="password" name="user[password_confirmation]" placeholder="Password confirmation">
        
      <div class="users_form_error"></div>
      
      <input type="checkbox" name="conditions" id="conditions">
      <label for="conditions">
        I agree to the Terms of Service, General Terms and Conditions and Privacy Policy.
      </label>
      
      <input type="checkbox" name="subscribe" id="subscribe">
      <label for="subscribe">
        Notify me about new features, special offers and #Cutfeed hits.
      </label>
      
      
      <button disabled>Sign up</button>
    </form>
  </div>
</div>

<%=render template: '/users/social'%>

<div style="height: 250px;"></div>




</div>

