
<div id="upload_root"></div>

<div class="pop_up pop_up_pay_error_3">
  
  <div class="pop_up_center pop_up_center_error">
    <div class="pop_up_center_content">
      <div class="pop_up_center_close"></div>
      
      <div class="pop_up_center_error_image">
        <img src="/img/upload/errors_pop_up/2.svg" alt="">
      </div>
      <div class="pop_up_center_error_title">
        Sorry, but...
      </div>
      
      <div class="pop_up_center_error_desription">
        File size is limited to 2000 mb.
      </div>
      
      <div class="pop_up_center_error_button_open_close">
        <div class="pop_up_center_error_button_open_close_text">
          Why so cruel?
        </div>
        <div class="pop_up_center_error_button_open_close_icon">
          <svg width="12" height="4" viewBox="0 0 12 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4L0.803849 0.25L11.1962 0.250001L6 4Z" fill="#EF476F"/>
          </svg>
        </div>
        
      </div>
            
      <div class="pop_up_center_error_button_open_close_info">
        
        <span>Annoying limitations:</span> Maximum size of 1 file is limited.
        <br><br>
        <span>Profit:</span> the service is better protected from various kinds of attacks in order to work smoothly for you.
      </div>
      
      <div class="pop_up_center_error_button">
        Login / Sign Up
      </div>
    </div>
  </div>
</div>

<div class="pop_up pop_up_pay_error_2">
  
  <div class="pop_up_center pop_up_center_error">
    <div class="pop_up_center_content">
      <div class="pop_up_center_close"></div>
      
      <div class="pop_up_center_error_image">
        <img src="/img/upload/errors_pop_up/2.svg" alt="">
      </div>
      <div class="pop_up_center_error_title">
        Sorry, but...
      </div>
      
      <div class="pop_up_center_error_desription">
        File size is limited to 500 mb for unsigned users.
      </div>
      
      <div class="pop_up_center_error_button_open_close">
        <div class="pop_up_center_error_button_open_close_text">
          Why so cruel?
        </div>
        <div class="pop_up_center_error_button_open_close_icon">
          <svg width="12" height="4" viewBox="0 0 12 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4L0.803849 0.25L11.1962 0.250001L6 4Z" fill="#EF476F"/>
          </svg>
        </div>
        
      </div>
            
      <div class="pop_up_center_error_button_open_close_info">
        
        <span>Boring requirements:</span> You need to register to upload large files.
        <br><Br>
        <span>Profit:</span> the service is better protected from various kinds of attacks in order to work smoothly for you.

      </div>
      
      <div class="pop_up_center_error_button">
        Login / Sign Up
      </div>
    </div>
  </div>
</div>



<div class="pop_up pop_up_pay_error_1">
  
  <div class="pop_up_center pop_up_center_error">
    <div class="pop_up_center_content">
      <div class="pop_up_center_close"></div>
      
      <div class="pop_up_center_error_image">
        <img src="/img/upload/errors_pop_up/1.svg" alt="">
      </div>
      <div class="pop_up_center_error_title">
        Sorry, but...
      </div>
      
      <div class="pop_up_center_error_desription">
        Clip length is limited to 15 sec for unsigned users.
      </div>
      
      <div class="pop_up_center_error_button_open_close">
        <div class="pop_up_center_error_button_open_close_text">
          Why so cruel?
        </div>
        <div class="pop_up_center_error_button_open_close_icon">
          <svg width="12" height="4" viewBox="0 0 12 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 4L0.803849 0.25L11.1962 0.250001L6 4Z" fill="#EF476F"/>
          </svg>
        </div>
        
      </div>
            
      <div class="pop_up_center_error_button_open_close_info">
        <span>Boring requirements:</span> You need to register to upload large files.
        <br><br>
        <span>Profit:</span> the service is better protected from various kinds of attacks in order to work smoothly for you.
      </div>
      
      <div class="pop_up_center_error_button">
        Login / Sign Up
      </div>
    </div>
  </div>
</div>


<div class="pop_up pop_up_pay_info">
  
  <div class="pop_up_center pop_up_center_pay_info">
    <div class="pop_up_center_content">
      <div class="pop_up_center_close"></div>
      
      <div class="pop_up_center_pay_info_line"></div>
      <div class="pop_up_center_pay_info_title">
        Download FULL
      </div>
      
      <div class="pop_up_center_pay_info_block">
        
        <div class="pop_up_center_pay_info_block_order_title">
          Your order
        </div>
        <div class="pop_up_center_pay_info_block_order_list">
          <span>1</span> image
        </div>
        
        <div class="pop_up_center_pay_info_block_order_button">
          Detalization
        </div>
      
      </div>
      
      <div class="pop_up_center_pay_info_block pop_up_center_pay_info_block_left">
        
        <div class="pop_up_center_pay_info_block_icon info_parent info_left_bottom">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 20px; padding-bottom: 30px; font-size: 12px;">
              
              <b>Sending small online payments almostly burns them in commissions.</b>
              <br><br>
              Buy a lot cheaper with a subscription and cancel anytime if you no longer need it.
              
            </div>
          </div>
        </div>
        
        <div class="pop_up_center_pay_info_block_price pop_up_center_pay_info_block_price_one">
          <span>1.9</span> USD
        </div>
        
        <div class="pop_up_center_pay_info_block_button pop_up_center_pay_info_block_button_buy">
          BUY
        </div>
        
      </div>
      <div class="pop_up_center_pay_info_block pop_up_center_pay_info_block_right">
        
        <div class="pop_up_center_pay_info_block_icon info_parent info_left_bottom">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 20px; padding-bottom: 30px; font-size: 12px;">
              
              <b>Prices are based 
              on “Cutzilla” subscription plan. </b><br><br>

              However, as part of the subscription, all packs are affordable. Check it yourself.
            </div>
          </div>
        </div>
        
        <div class="pop_up_center_pay_info_block_price_left">
          <div class="pop_up_center_pay_info_block_price_left_title">
            from
          </div>
          
          <div class="pop_up_center_pay_info_block_price pop_up_center_pay_info_block_price_subscribe">
            <span>1.9</span> USD
          </div>
          
          <div class="pop_up_center_pay_info_block_price_left_title">
            per image
          </div>
          
        </div>
        <div class="pop_up_center_pay_info_block_price_left">
          
          <div class="pop_up_center_pay_info_block_price_left_title">
            from
          </div>
          
          <div class="pop_up_center_pay_info_block_price pop_up_center_pay_info_block_price_subscribe">
            <span>0.13</span> USD
          </div>
          
          <div class="pop_up_center_pay_info_block_price_left_title">
            per minute of video
          </div>
          
        </div>
        <div class="clear"></div>
        
        
        <div class="pop_up_center_pay_info_block_button pop_up_center_pay_info_block_button_subscribe">
          SUBSCRIBE
        </div>
        
      </div>
      <div class="clear"></div>
      
      
      <div class="pop_up_center_pay_info_cards">
        <img src="/img/upload/cards.png" alt="">
      </div>
      
      <div class="pop_up_center_pay_info_block pop_up_center_pay_info_block_auth">
        <div class="pop_up_center_pay_info_block_auth_text">
          Get this <span class='full'>FULL</span> for <span class="free">FREE</span>
        </div>
        <div class="pop_up_center_pay_info_block_auth_button">
          Sign Up
        </div>
      </div>
      .pop_up_center_pay_info_block_auth_
    </div>
  </div>
  
</div>

<div class="upload_bottom">
  <div class="bottom_titles">
    <div class="bottom_title">
      File(s) uploading... (1/1)
    </div>
  </div>
  
  <div class="upload_history">
    <div class="upload_history_button">
      <div class="upload_history_button_input">
        <input type="file">
        <div class="upload_history_button_input_icon">+</div>
        <div class="upload_history_button_input_text">
          UPLOAD<Br>
          <span>other file(s)</span>
        </div>
      </div> 
      <div class="upload_history_button_icon">
        
      </div>
      <div class="upload_history_button_text">
        or Drag & Drop<br> file(s) here
      </div>
    </div>
    <div class="upload_history_list">
      
      <div class="upload_history_list_parent">
        <div class="upload_history_list_point active">
          <div class="upload_history_list_point_loader">
            <div class="upload_history_list_point_loader_line" style="width: 60%"></div>
          </div>
          <img src="/img/test_image/1.jpeg" alt="">
          
          <input type="checkbox" name="files_selector" id="files_selector_1">
          <label for="files_selector_1"></label>
        </div>
        
        <div class="upload_history_list_point">
          <div class="upload_history_list_point_delete"></div>
          <img src="/img/test_image/2.jpg" alt="">
          
          <input type="checkbox" name="files_selector" id="files_selector_2">
          <label for="files_selector_2"></label>
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/3.jpg" alt="">
          
          <input type="checkbox" name="files_selector" id="files_selector_3">
          <label for="files_selector_3"></label>
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/1.jpeg" alt="">
          
          <input type="checkbox" name="files_selector" id="files_selector_4">
          <label for="files_selector_4"></label>
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/2.jpg" alt="">
          
          <input type="checkbox" name="files_selector" id="files_selector_5">
          <label for="files_selector_5"></label>
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/3.jpg" alt="">
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/1.jpeg" alt="">
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/2.jpg" alt="">
        </div>
        
        <div class="upload_history_list_point">
          <img src="/img/test_image/3.jpg" alt="">
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>


  <div class="upload_left">
    <div class="upload_side_title">
      Select output format
    </div>
    <div class="upload_side_block">
      <div class="selector_type_processor">
        <div class="selector_type_processor_icon original">
          
        </div>
        <div class="selector_type_processor_text">
          Original
        </div>
        <div class="selector_type_processor_info info_parent info_right_top">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 8px">
              <div class="selector_type_processor_icon original"></div>
              <div class="selector_type_processor_text">
                Original
              </div>
              <div class="clear"></div>
              <div class="selector_type_processor_info_icon_text">
                Exactly what you’ve uploaded. Compare it with the results.
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="clear"></div>
        
      </div> 
      
      <div class="selector_type_processor active">
        <div class="selector_type_processor_icon transparent">
          
        </div>
        <div class="selector_type_processor_text">
          Transparent
        </div>
        <div class="selector_type_processor_info info_parent info_right_top">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 8px">
              <div class="selector_type_processor_icon transparent"></div>
              <div class="selector_type_processor_text">
                Transparent
              </div>
              <div class="clear"></div>
              <div class="selector_type_processor_info_icon_text">
                .PNG file with transparent background in original resolution. Ideal for presentations, e-commerce, social media and many other tasks.
              </div>
              
              <div class="selector_type_processor_info_icon_preview">
                <div class="selector_type_processor_info_icon_preview_text">
                  Look how to integrate it 
                  in your project
                  in 10 second
                </div>
                <div class="selector_type_processor_info_icon_preview_icon">
                  <img src="/img/upload/arrow_info.svg" alt="">
                </div>
                <div class="selector_type_processor_info_icon_preview_video">
                  <img src="/img/upload/video_preview.png" alt="">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="selector_type_processor">
        <div class="selector_type_processor_icon green">
          
        </div>
        <div class="selector_type_processor_text">
          Green Screen
        </div>
        <div class="selector_type_processor_info info_parent info_right_top">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 8px">
              <div class="selector_type_processor_icon green"></div>
              <div class="selector_type_processor_text">
                Green Screen
              </div>
              <div class="clear"></div>
              <div class="selector_type_processor_info_icon_text">
                Video with your object as if you were shooting it on a perfect green screen
              </div>
              
              <div class="selector_type_processor_info_icon_preview">
                <div class="selector_type_processor_info_icon_preview_text">
                  Look how to integrate it 
                  in your project
                  in 10 seconds
                </div>
                <div class="selector_type_processor_info_icon_preview_icon">
                  <img src="/img/upload/arrow_info.svg" alt="">
                </div>
                <div class="selector_type_processor_info_icon_preview_video">
                  <img src="/img/upload/video_preview.png" alt="">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="selector_type_processor selector_type_processor_disable">
        <div class="selector_type_processor_icon alpha">
          
        </div>
        <div class="selector_type_processor_text">
          Alpha Channel
        </div>
        <div class="selector_type_processor_info info_parent info_right_top">
          <div class="info_icon">
            !
          </div>
          <div class="info_content">
            <div class="info_icon">
              !
            </div>
            <div style="padding: 8px">
              <div class="selector_type_processor_icon alpha"></div>
              <div class="selector_type_processor_text">
                Alpha Channel
              </div>
              <div class="clear"></div>
              <div class="selector_type_processor_info_icon_text">
                Mask for your video. Works with most video editors.
              </div>
              
              <div class="selector_type_processor_info_icon_preview">
                <div class="selector_type_processor_info_icon_preview_text">
                  Look how to integrate it 
                  in your project
                  in 10 seconds
                </div>
                <div class="selector_type_processor_info_icon_preview_icon">
                  <img src="/img/upload/arrow_info.svg" alt="">
                </div>
                <div class="selector_type_processor_info_icon_preview_video">
                  <img src="/img/upload/video_preview.png" alt="">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
    </div>
  </div>
  
  <div class="upload_center">
    <div class="upload_tv">
      <div class="upload_tv_window">
        
      </div>
      <div class="dowonload_file_preview">
        <div class="dowonload_file_preview_icon">
          
        </div>
        <div class="dowonload_file_preview_info">
          <div class="dowonload_file_preview_info_name">
            Preview_File1.png
          </div>
          <div class="dowonload_file_preview_info_size">
            3920x2080
          </div>
          
          
          <div class="dowonload_file_preview_info_icon info_parent info_left_bottom">
            <div class="info_icon">
              !
            </div>
            <div class="info_content">
              <div class="info_icon">
                !
              </div>
              <div style="padding: 20px; padding-bottom: 30px; font-size: 12px;">
                
                
                <b>Сheck how well the result suits your project</b><br><br> 

                <span style="font-size: 10px;">Download the preview in original resolution, decorated with a light and stylish watermark</span>

                
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="like_result">
        
        <div class="like_result_icon like_result_icon_no"></div>
        <div class="like_result_icon like_result_icon_yes"></div>
        <div class="like_result_text">
          Do you like this result?
        </div>
      </div>
      
      <div class="clear"></div>
    </div>
  </div>
  
  <div class="upload_right">
    <div class="upload_side_title">
      Download FULL file(s)
    </div>
    <div class="upload_side_block">
      <div class="upload_button_download">
        <div class="upload_button_download_icon"></div>
        <div class="upload_button_download_text">
          DOWNLOAD
        </div>
      </div>
      
      <div class="download_detailzation">
        
        <div class="download_detailzation_user_info">
          <div class="download_detailzation_user_info_avatar">
            <div class="download_detailzation_user_info_avatar_image"></div>
            <div class="download_detailzation_user_info_avatar_loader">
              <div class="download_detailzation_user_info_avatar_loader_line"></div>
            </div>
          </div>
          <div class="download_detailzation_user_info_info">
            <div class="download_detailzation_user_info_info_name">
              Mr. Anybody
            </div>
            <div class="download_detailzation_user_info_info_bottom">
              (Login / Sign Up)
            </div>
          </div>
          
          
        </div>
        
        <div class="download_detailzation_user_info_title_selected">
          Selected files:
        </div>
        
        <div class="download_detailzation_user_info_selected_list">
          <b>1</b> image
        </div>
        
        <div class="download_detailzation_button">
          Detalization
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="clear"></div>
  
  

  <div style="height: 200px"></div>
</div>