    <div class="title_block">
      <div class="title_block_line"></div>
      <h1 class="title_block_title">

        Remove any<br>
        <b>PHOTO / VIDEO / GIF</b><br>
        Background Online<br>

      </h1>
      <div class="title_block_description">
        Automatic background removal in Ultra HD.<br>
        For your blog, business, and no matter what else.
      </div>

      <%=render template: 'layouts/uploader'%>
    </div>

    <div class="index_right_block">

      <div class="index_right_block_circle index_right_block_circle_1"></div>
      <div class="index_right_block_circle index_right_block_circle_2"></div>
      <div class="index_right_block_circle index_right_block_circle_3"></div>
      <div class="index_right_block_circle index_right_block_circle_4"></div>

      <div class="index_right_block_mac">
        <div class="index_right_block_mac_line"></div>
        <div class="index_right_block_mac_image">
          <img src="/img/mac.png" alt="">
        </div>
      </div>
    </div>

    <div class="clear"></div>


    <div class="index_plus_block index_plus_block_1">
      <div class="index_plus_block_image">
        <div class="index_right_block_circle index_right_block_circle_plus_1"></div>
        <div class="index_plus_block_image_1"></div>
      </div>
      <div class="index_plus_block_info index_plus_block_info_right">
        <div class="index_plus_block_info_line"></div>
        <div class="clear"></div>
        <div class="index_plus_block_info_title">
          Automatic
        </div>
        <div class="index_plus_block_info_icon">
          <img src="/img/plus/1_icon.png" alt="">
        </div>

        <div class="clear"></div>
        <div class="index_plus_block_info_description">
          Just two steps separate you from<br>
          getting your image or video in<br>
          transparent format:<br> “upload” and “download”
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="index_plus_block index_plus_block_2">
      <div class="index_plus_block_info index_plus_block_info_left">

        <div class="index_plus_block_info_line"></div>
        <div class="clear"></div>
        <div class="index_plus_block_info_title">
          Flawless
        </div>
        <div class="index_plus_block_info_icon">
          <img src="/img/plus/2_icon.png" alt="">
        </div>
        <div class="clear"></div>
        <div class="index_plus_block_info_description">
          Cutfish accurately recognizes<br>
          objects and their boundaries,<br>
          and cuts out everything else. <Br>
          Absolutely ruthless.
        </div>

      </div>
      <div class="index_plus_block_image">
        <div class="index_right_block_circle index_right_block_circle_plus_2"></div>
        <div class="index_plus_block_image_2"></div>
      </div>
      <div class="clear"></div>
    </div>



    <div class="index_plus_block index_plus_block_3">
      <div class="index_plus_block_image">
        <div class="index_right_block_circle index_right_block_circle_plus_3"></div>
        <div class="index_plus_block_image_3"></div>
      </div>
      <div class="index_plus_block_info index_plus_block_info_right">

        <div class="index_plus_block_info_line"></div>
        <div class="clear"></div>
        <div class="index_plus_block_info_title">
          Fast
        </div>
        <div class="index_plus_block_info_icon">
          <img src="/img/plus/3_icon.png" alt="">
        </div>
        <div class="clear"></div>
        <div class="index_plus_block_info_description">
          The world champion in manual<br>
          background cut worked on average <br>
          99 times slower than Cutfish*.<br>
          Your time matters more than ever before.
        </div>

      </div>

      <div class="clear"></div>
    </div>


    <div style="height: 600px;"></div>
  </div>

  <div class="wave wave_1"></div>

</div>


<div class="example_block">
  <div class="content">
    <div class="example_block_line">
      
    </div>
    <div class="example_block_title">
      Cut ‘em All
    </div>
    <div class="example_block_description">
      Сutfish’s mission is to remove the background<br> 
of all content in the world. So welcome on board!
    </div>
    
    
    <div class="example_block_video example_block_video_1"></div>
    <div class="example_block_video_left">
      <div class="example_block_video example_block_video_2"></div>
      <div class="example_block_video example_block_video_3"></div>
    </div>
    <div class="example_block_video_right">
      <div class="example_block_video example_block_video_4"></div>
    </div>
    <div class="clear"></div>
    
    <div class="example_block_video_button">
      <div class="example_block_video_button_text">
        More examples in the
      </div>
      <div class="example_block_video_button_button">
        #CUTFEED
      </div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="wave wave_2"></div>
  
  
</div>

<div class="everybody_block">
  <div class="content">
    
    
    <div class="title_block everybody_block_title">
      <div class="title_block_line"></div>
      <div class='title_block_title'>

        <b>Everybody cut now!</b>

      </div>
      <div class="title_block_description">
        Automatic background removal in Ultra HD.<br>
        For your blog, business, and no matter what else.
      </div>

      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Individuals
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Media
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Bloggers
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          E-Commerce
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Developers
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Car Dealerships
        </div>
      </div>
      <div class="everybody_block_point">
        <div class="everybody_block_point_icon"></div>
        <div class="everybody_block_point_text">
          Photographers
        </div>
      </div>



      <div class="clear"></div>

      <%=render template: 'layouts/uploader'%>
    </div>
    
    <div class="everybody_block_image">
      <div class="index_right_block_circle index_right_block_circle_everybody"></div>
      <div class="everybody_block_image_image">
        
      </div>
    </div>
    
    <div class="clear"></div>
    
  </div>

  

</div>










