<div class="users_form_social_or">or</div>

<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=https://cut.fish/oauth/google/&response_type=code&client_id=668728170578-5b7qr0fuml2eajfjfq67ictptk24rrln.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" class="users_form_social_button">
  <div class="users_form_social_button_icon users_form_social_button_icon_google">
    
  </div>
  <div class="users_form_social_button_text">
    Continue with Google
  </div>
</a>

<a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=711577286078316&scope=email&redirect_uri=https://cut.fish/oauth/facebook/" class="users_form_social_button">
  <div class="users_form_social_button_icon users_form_social_button_icon_facebook">
    
  </div>
  <div class="users_form_social_button_text">
    Continue with Facebook
  </div>
</a>


<a href="https://oauth.vk.com/authorize?scope=email&sponse_type=code&client_id=7765206&redirect_uri=https://cut.fish/oauth/vkontakte/" class="users_form_social_button">
  <div class="users_form_social_button_icon users_form_social_button_icon_vk">
    
  </div>
  <div class="users_form_social_button_text">
    Continue with Vkontakte
  </div>
</a>

