<div class="title_line"></div>
<h1>
  Log In into your <b>CUTFISH</b> Account
</h1>


<div class="users_form users_form_log_in">
  
  <div class="users_block_circle users_block_circle_in_1">
    <div class="users_block_circle_image"></div>
    <div class="users_block_circle_text">
      <span>3 FREE Clean</span><br>
      images per month
    </div>
  </div>
  <div class="users_block_circle users_block_circle_in_2">
    <div class="users_block_circle_image"></div>
    <div class="users_block_circle_text">
      <span>Multiple</span><br>
      upload 
    </div>
  </div>
  <div class="users_block_circle users_block_circle_in_3">
    <div class="users_block_circle_image"></div>
    <div class="users_block_circle_text">
      Proceed with <br>
      <span>longer videos</span>
    </div>
  </div>
  <div class="users_block_circle users_block_circle_in_4">
    <div class="users_block_circle_image"></div>
    <div class="users_block_circle_text">
      Participate in <br>
      <span>Reward program</span>
    </div>
  </div>
  
  
  <div class="users_form_background_1"></div>
  <div class="users_form_background_2"></div>
  <div class="users_form_background_3"></div>
  
  <div class="users_form_main_content">

    
    <div class="users_form_menu">
      <a href='/users/sign_up' class="users_form_menu_point">
      </a>
      
    </div>
  
    
    <form class="users_form_content js-form-auth" action="/users/sign_in" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      
      <input type="email" name="user[email]" placeholder="Email">
      <input type="password" name="user[password]" placeholder="Password">
      
      <div class="users_form_error"></div>
      
      <input type="checkbox" name="user[remember_me]" id="conditions" checked>
      <label for="conditions">
        Remember me
      </label>
      
      <a href="" class="users_form_forgot">Forgot your password?</a>
      
      <button disabled="disabled">Sign up</button>
    </div>
    
  </form>
</div>

<%=render template: '/users/social'%>

<div style="height: 250px;"></div>
</div>
