/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require plugin/scroll


 */

@font-face {
  font-family: Gilroy-Regular; /* имя шрифта для CSS правил */
  src: local("Gilroy-Regular"), /* проверяем наличие шрифта в ОС пользователя */
     url(/fonts/Gilroy-Regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: Gilroy-Bold; /* имя шрифта для CSS правил */
  src: local("Gilroy-Bold"), /* проверяем наличие шрифта в ОС пользователя */
     url(/fonts/Gilroy-Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body{
  margin: 0;
  font-family: Gilroy-Regular;
}
b{
  font-weight: normal;
  font-family: Gilroy-Bold;
}
.content{
  margin: 0px auto;
  width: 930px;
  padding-left: 15px;
  padding-right: 15px;
}
.clear{
  clear: both;
}
input{
  font-family: Gilroy-Regular;
  box-shadow: none;
  border-radius: 0;
  outline: inherit;
  margin: 0;
  padding: 0;
}


.header{
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 30px;
}
.logo{
  float: left;
}
.logo img{
  height: 30px;
  display: block;
}

.header_menu{
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}
.header_menu li{
  float: left;
  margin-right: 30px;
  height: 30px;
  position: relative;
}
.header_menu li.active{
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}
.header_menu li > a{
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.header_menu li.active a{
  font-family: Gilroy-Bold;
}
.header_menu_cases{
  cursor: pointer;
}
.header_menu_cases a{
  position: relative;
  z-index: 1;
}
.header_menu_cases:hover > a{
  color: #FFF;
}
.header_menu_cases svg{
  fill: #000;
  width: 9px;
}
.header_menu_cases:hover svg{
  fill: #FFF;
}

.header_menu_cases_block{
  display: none;
  position: absolute;
  width: 872px;
  height: 143px;
  background-image: url(/img/menu/background.svg);
  top: -10px;
  left: -440px;
}
.header_menu_cases:hover .header_menu_cases_block{
  display: block;
}

.header_menu_cases_block_lists{
  margin-top: 70px;
  overflow: hidden;
  display: flex;
  width: calc(100% - 15px);
}
.header_menu_cases_block_point{
  display: block;
  float: left;
  width: 100%;
  font-family: Gilroy-Bold;
  color: #FCD200;
}
.header_menu_cases_block_point:hover{
  color: #06D6A0;
}
.header_menu_cases_block_point_icon{
  width: 30px;
  height: 30px;
  margin: 0px auto;
  background-size: contain;
  background-position: center;
}
.header_menu_cases_block_point_text{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.button_login{
  float: right;
  line-height: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
  width: 100px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 4px;
  font-family: Gilroy-Bold;
  display: block;
  color: #000;
  text-decoration: none;
}

.title_block{
  margin-top: 50px;
  float: left;
  position: relative;
  z-index: 2;
}
.title_block_line{
  width: 100px;
  height: 10px;
  background: #06D6A0;
}
.title_block_title{
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-top: 30px;
}
.title_block_description{
  margin-top: 30px;
}

.language_selector{
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-right: 30px;
  float: right;
  background-image: url(/img/en.png);
  background-size: cover;
}


.block_upload{
  border: 1px solid rgba(12,12,12,0.4);
  border-radius: 45px;
  height: 90px;
  width: 450px;
  margin-top: 30px;
  position: relative;
}
.block_upload_button{
  float: left;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #EF476F;
  font-family: Gilroy-Bold;
  color: #FFF;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.block_upload_button input{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}
.block_upload_info{
  float: left;
  font-family: Gilroy-Bold;
  line-height: 26px;
  line-height: 13px;
  margin-top: 32px;
}
.block_upload_image{
  float: left;
  width: 50px;
  height: 50px;
  background-image: url(/img/upload_image.png);
  background-size: cover;
  margin: 20px;
}
.block_upload_info_format{
  top: calc(100% + 10px);
  text-align: center;
  font-size: 10px;
  position: absolute;
  width: 100%;
  left: 0;
}


.wave{
  height: 150px;
  width: 100%;
  position: relative;
  z-index: 5;
  background-size: 5000px 150px;
  background-position: 0px 0%;
  animation: wave_main 10s linear infinite;
}
@keyframes wave_main {
    0%{
      background-position: 0px 0%;
    }

    100%{
      background-position: -5000px 0%;
    }

}


.wave_footer{
  position: absolute;
  top: -150px;
  left: 0;
  background-image: url(/img/waves/3.svg);
}

.footer{
  position: relative;
  background: #073B4C;
  padding-bottom: 40px;
}
.footer_left{
  float: left;
  width: 50%;
}

.footer_right{
  width: 50%;
  float: right;
}
.footer_line{
  background: #EF476F;
  width: 50px;
  height: 5px;
  margin-top: 30px;
}
.footer_title{
  font-family: Gilroy-Bold;
  font-size: 25px;
  color: #06D6A0;
  margin: 15px 0px 15px 0px;
}

.footer_description{
  color: #06D6A0;
  margin-bottom: 15px;
}

.form_subscribe{
  width: 375px;
  height: 44px;
  border-radius: 22px;
  overflow: hidden;
  background: #FFF;
}
button,input{
  outline:  inherit;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}
.form_subscribe button{
  background: #FFD166;
  color: #000;
  font-size: 14px;
  border-radius: 22px;
  float: right;
  display: block;
  height: 44px;
  width: 127px;
  font-family: Gilroy-Bold;
}

.form_subscribe input{
  float: left;
  width: calc(100% - 130px);
  font-size: 14px;
  height: 44px;
  
  
  text-indent: 22px;
}
.form_subscribe_info{
  color: #06D6A0;
  margin-top: 15px;
  font-size: 10px;
}



.footer ul{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.footer ul li{
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.footer ul li a{
  font-size: 14px;
  color: #FFD166;
}


.footer_gray{
  background: #E1E0E1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_point_social{
  float: right;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 35px;
  display: block;
  cursor: pointer;
}
.footer_point_social_3{
  background-image: url(/img/social/3.png)
}
.footer_point_social_2{
  background-image: url(/img/social/2.png)
}
.footer_point_social_1{
  background-image: url(/img/social/1.png)
}

.footer_menu{
  font-size: 10px;
  float: left;
  margin-left: 40px;
  line-height: 30px;
}
.footer_menu_title{
  float: left;
}
.footer_menu a{
  float: left;
  color: #000;
  margin-left: 55px;
}


.block_upload_loader_parent{
  height: 30px;
  margin: 30px;
  border-radius: 15px;
  background-image: url(/img/chess.svg);
  background-color: #FFF;
  background-attachment: fixed;
  background-size: 15px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.block_upload_loader_line{
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
}
.block_upload_loader_line_color{
  border-radius: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #EF476F;
  transition: 0.3s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block_upload_loader_line_fish{
  width: 100px;
  position: absolute;
  left: -30px;
  top: -20px;
}
.block_upload_loader_line_fish svg{
  width: 100%;
  height: 60px;
}
.block_upload_loader_line_fish image{
  opacity: 0.8;
}
.block_upload_loader_comment{
  width: 100%;
  position: absolute;
  top: calc(100% + 15px);
  color: #073B4C;
  text-align: center;
  font-size: 24px;
  font-family: Gilroy-Bold;
}

.block_upload_selector{
  cursor: default;
}


.info_parent{
  position: relative;
  color: #073B4C;
  z-index: 10000;
}
.info_icon{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(12, 100, 129, 0.5);
  border: 1px solid rgba(255, 209, 102, 0.4);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  line-height: 15px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
}
.info_content{
  position: absolute;
  
  background: #C8CDD4;
  border: 1px solid rgba(7, 59, 76, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  width: 165px;
  min-height: 50px;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  display: none;

}
.info_parent:hover .info_content{
  display: block;
}
.info_right_top .info_content{
  top: -9px;
  right: -9px;
}
.info_right_top .info_content .info_icon{
  position: absolute;
  top: 8px;
  right: 8px;
}

.info_left_bottom .info_content{
  bottom: -9px;
  left: -9px;
}
.info_left_bottom .info_content .info_icon{
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.selector_type_processor_info_icon_preview{
  overflow: hidden;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.selector_type_processor_info_icon_preview_text{
  width: calc(50% - 15px);
  float: left;
  font-size: 10px;
}
.selector_type_processor_info_icon_preview_video{
  width: calc(50% - 15px);
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.selector_type_processor_info_icon_preview_icon{
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.selector_type_processor_info_icon_preview_video img{
  display: block;
  width: 100%;
}




