.first_color_block_index{

  background: linear-gradient(151.45deg, #FFD166 13.38%, rgba(6, 214, 160, 0.65) 40.82%);
  overflow: hidden;

}

.index_right_block{
  float: right;
  position: relative;
  margin-top: 30px;
  z-index: 0;
}
.index_right_block_mac_image{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
} 
.index_right_block_mac_line{
  height: 1px;
  width: 1000px;
  position: absolute;
  left: -60px;
  top: 112px;
  background: #000;
  transform: rotate(-50deg);
  transform-origin: 0% 0;
  z-index: 0;
  box-shadow: 0px -10px 3px 2px rgba(0,0,0,0.1);
}
 
.index_right_block_circle{
  position: absolute;
  background-image: url(/img/chess.svg);
  background-color: #FFF;
  background-attachment: fixed;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);

}
.index_right_block_circle_1{
  right: 550px;
  top: 0;
  width: 30px;
  height: 30px;
}
.index_right_block_circle_2{
  right: 500px;
  top: 80px;
  width: 50px;
  height: 50px;
}
.index_right_block_circle_3{
  right: 380px;
  top: 150px;
  width: 80px;
  height: 80px;
}
.index_right_block_circle_4{
  right: 490px;
  top: 350px;
  width: 120px;
  height: 120px;
}


.index_plus_block_image{
  float: left;
  position: relative;
  width: 50%;
  min-height: 10px;
}
.index_plus_block_info{
  float: left;
  position: relative;
  width: 50%;
}
.index_plus_block_info_line{
  width: 100px;
  height: 10px;
  background: #FFD166;
  margin-bottom: 30px;
}
.index_plus_block_2 .index_plus_block_info_line{
  background: #EF476F;
}
.index_plus_block_info_right .index_plus_block_info_line{
  float: right;
}
.index_plus_block_1{
  margin-top: 300px;
}
.index_plus_block_2{
  margin-top: 400px;
}
.index_plus_block_3{
  margin-top: 347px;
}
.index_plus_block_3 .index_plus_block_info_line{
  width: 350px;
}
.index_plus_block_info_title{
  font-size: 50px;
  font-family: Gilroy-Bold;
  line-height: 50px;
}
.index_plus_block_info_icon img{
  display: block;
  width: 50px;
  height: 50px;
}
.index_plus_block_info_description{
  margin-top: 35px;
  font-size: 24px;
  line-height: 40px;
}
.index_plus_block_info_right{
  .index_plus_block_info_title{
    float: right;
    margin-left: 25px;
  }
  .index_plus_block_info_icon{
    float: right;
  }
  .index_plus_block_info_description{
    text-align: right;
  }
}
.index_plus_block_info_left{
  .index_plus_block_info_title{
    float: left;
    margin-right: 25px;
  }
  .index_plus_block_info_icon{
    float: left;
  }
}



.index_plus_block_image_1{
  width: 661px;
  height: 837px;
  background-image: url(/img/plus/1.png);
  background-size: cover;
  position: absolute;
  right: -120px;
  top: -200px;
  z-index: 2;
}

.index_right_block_circle_plus_1{
  width: 300px;
  height: 300px;
  top: -50px;
  right: 20px;
}



.index_plus_block_image_2{
  width: 350px;
  height: 532px;
  background-image: url(/img/plus/2.png);
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: 2;
}

.index_right_block_circle_plus_2{
  width: 415px;
  height: 415px;
  top: 0px;
  right: -50px;
}

.index_plus_block_image_3{
  width: 480px;
  height: 1197px;
  background-image: url(/img/plus/3.png);
  background-size: cover;
  position: absolute;
  left: -50px;
  top: -100px;
  z-index: 2;
}

.index_right_block_circle_plus_3{
  width: 700px;
  height: 700px;
  top: -200px;
  left: -350px;
}

.wave_1{
  background-image: url(/img/waves/1.svg);
}
.wave_2{
  position: absolute;
  left: 0;
  top: 100%;
  background-image: url(/img/waves/2.svg);
}




.example_block{
  background: #073B4C;
  margin-top: -5px;
  padding-top: 1px;
  position: relative;
  
}

.example_block_line{
  width: 66px;
  height: 7px;
  margin: 70px auto 20px auto;
  background: #EF476F;
}
.example_block_title{
  color: #06D6A0;
  font-size: 50px;
  text-align: center;
  font-family: Gilroy-Bold;
}


.example_block_description{
  font-size: 24px;
  color: #FFD166;
  margin: 20px auto 40px auto;
  text-align: center;
}

.example_block_video{
  background: #7FF649;
  border-radius: 30px;
}
.example_block_video_1{
  height: 490px;
  margin-bottom: 35px;
}
.example_block_video_4{
  height: 601px;
}
.example_block_video_2{
  margin-bottom: 35px;
  height: 283px;
}
.example_block_video_3{
  height: 283px;
}

.example_block_video_left{
  width: calc(100% - 370px);
  float: left;
}
.example_block_video_right{
  width: 335px;
  float: right;
}

.example_block_video_button{
  overflow: hidden;
  margin: 65px auto;
}

.example_block_video_button_text{
  float: left;
  color: #FFD166;
  line-height: 74px;
  font-size: 47px;
  font-family: Gilroy-Bold;
}
.example_block_video_button_button{
  height: 74px;
  float: right;
  width: 335px;
  background: #06D6A0;
  color: #FFF;
  border-radius: 37px;
  font-size: 30px;
  line-height: 74px;
  text-align: center;
  cursor: pointer;
  font-family: Gilroy-Bold;
}


.everybody_block{
  overflow: hidden;
  padding-bottom: 200px;
  background: linear-gradient(135.9deg, #06D6A0 7.79%, #FFD166 58.81%);
}

.everybody_block_title{
  margin-top: 200px;
  width: 50%;
}
.everybody_block_title{
  .title_block_line{
    background: #FFD166;
  }
  .title_block_title{
    font-size: 50px;
  }
  .title_block_description{
    margin-bottom: 20px;
  }
}

.everybody_block_point{
  overflow: hidden;
  float: left;
  width: 50%;
  margin-top: 35px;
}
.everybody_block_point_icon{
  width: 33px;
  height: 18px;
  background-image: url(/img/fish_icon.png);
  background-size: cover;
  float: left;
}

.everybody_block_point_text{
  width: calc(100% - 45px);
  float: right;
  font-style: 18px;
  text-decoration: underline;

}


.everybody_block_image{
  float: right;
  position: relative;
  margin-top: 200px;
}
.everybody_block_image_image{
  position: absolute;
  width: 317px;
  height: 1007px;
  right: 0;
  top: 0;
  background-size: cover;
  background-image: url(/img/footer_image.png);
}
.index_right_block_circle_everybody{
  width: 340px;
  height: 340px;
  right: 0;
  top: -50px;
}














