.first_color_block_upload{
  background: linear-gradient(151.45deg, #FFD166 13.38%, rgba(6, 214, 160, 0.65) 40.82%);
  overflow: hidden;
} 

.upload_left{
  width: 225px;
  float: left;
}
.upload_right{
  float: right;
  width: 225px;
}
.upload_center{
  width: 420px;
  float: left;
  margin-left: 30px;
}
.upload_bottom{
  margin-bottom: 30px;
}
.upload_tv{
  height: 245px;
  background: #073B4C;
  border-radius: 10px;
  padding: 35px;
}
.upload_side_block{
  height: 220px;
  background: #FFD166;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px;
}
.upload_side_title{
  line-height: 35px;
  height: 35px;
  text-align: center;
  font-size: 12px;
}
.bottom_titles{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.bottom_title{
  font-size: 12px;
}

.upload_history{
  height: 150px;
  background: #073B4C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.upload_tv_window{
  height: 200px;
  background-image: url(/img/chess.svg);
  background-color: #FFF;
  background-attachment: fixed;
  background-size: 15px 15px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}



.selector_type_processor{
  padding: 8px;
  border: 1px solid rgba(7, 59, 76, 0.2);
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.selector_type_processor.active{
  background: #073B4C;
  border: 3px solid #06D6A0;
  border-radius: 10px;
  color: #FFD166;
  padding: 6px;
}
.selector_type_processor:hover{
  z-index: 2;
}
.upload_side_block .selector_type_processor:first-child{
  margin-top: 0;
}

.selector_type_processor_icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.selector_type_processor_icon.original{
  background-image: url(/img/upload/processor/original.png);
  background-size: cover;
}
.selector_type_processor_icon.transparent{
  background-image: url(/img/upload/processor/transparent.png);
  background-size: cover;
}
.selector_type_processor_icon.green{
  background-image: url(/img/upload/processor/green.png);
  background-size: cover;
}
.selector_type_processor_icon.alpha{
  background-image: url(/img/upload/processor/alpha.png);
  background-size: cover;
}
.selector_type_processor_text{
  float: left;
  line-height: 30px;
  font-size: 12px;
  margin-left: 10px;
}
.selector_type_processor_disable{
  opacity: 0.2;
  cursor: default !important;
}
.selector_type_processor_disable .selector_type_processor_info{
  display: none;
}
.selector_type_processor_info{
  float: right;
  
}


.upload_button_download{
  height: 40px;
  background: #06D6A0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
}

.upload_button_download_icon{
  width: 40px;
  height: 40px;
  background-image: url(/img/upload/button_download.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-left: 5px;
}

.upload_button_download_text{
  float: left;
  line-height: 44px;
  font-family: Gilroy-Bold;
  font-size: 15px;
  color: #073B4C;
}

.download_detailzation{
  height: 136px;
  width: 141px;
  padding: 12px;
  border-bottom: none;
  position: relative;
  margin: 15px auto;
  background: url(/img/upload/download_detailzation_border.svg);
}


.download_detailzation_user_info{
  overflow: hidden;
}
.download_detailzation_user_info_avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  float: left;
}
.download_detailzation_user_info_avatar_image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 2;
  background: #FFF;
}
.download_detailzation_user_info_avatar_loader{
  height: 4px;
  background: #C8CDD4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 111px;
  left: 28px;;
  top: calc(50% - 2px);
  border-radius: 2px;
  position: absolute;
  z-index: 0;
}
.download_detailzation_user_info_info{
  width: calc(100% - 35px);
  float: right;
}
.download_detailzation_user_info_info_name{
  font-family: Gilroy-Bold;
  font-size: 12px;
  line-height: 20px;
  margin-top: -5px;
}
.download_detailzation_user_info_info_bottom{
  font-size: 10px;
  line-height: 25px;
}
.download_detailzation_user_info_title_selected{
  margin-top: 5px;
  font-size: 12px;
}
.download_detailzation_user_info_selected_list{
  margin-top: 5px;
  font-size: 12px;
  height: 20px
}
.download_detailzation_button{
  cursor: pointer;
  width: 90px;
  height: 25px;
  margin: 15px auto;

  background: #C8CDD4;
  border-radius: 12.5px;
  text-align: center;
  line-height: 27px;
  color: #073B4C;
  font-size: 12px;

}
.upload_history_button{
  width: 200px;
  height: 150px;
  overflow: hidden;
  float: left;
}
.upload_history_button_input{
  background-image: url(/img/chess.svg);
  background-color: #FFF;
  background-attachment: fixed;
  background-size: 15px 15px;
  height: 60px;
  width: 140px;
  border-radius: 30px;
  margin: 28px auto 0px auto;
  position: relative;
}
.upload_history_button_input input{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.upload_history_button_input_icon{
  width: 60px;
  height: 60px;
  line-height: 65px;
  text-align: center;
  font-size: 45px;
  font-family: Gilroy-Bold;
  float: left;
}
.upload_history_button_input_text{
  float: left;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  font-family: Gilroy-Bold;
}
.upload_history_button_input_text span{
  font-size: 12px;
}

.upload_history_button_icon{
  float: left;
  background-image: url(/img/upload/image_drug_and_drop.svg);
  width: 21px;
  height: 17px;
  background-size: cover;
  margin-left: 38px;
  margin-top: 17px;
}

.upload_history_button_text{
  float: left;
  font-size: 12px;
  color: #FFD166;
  margin-left: 14px;
  margin-top: 11px;
}

.upload_history_list{
  float: left;
  width: calc(100%  - 230px);
  height: 150px;
}
.upload_history_list_parent{
  display: flex;
  white-space: nowrap;
  height: 90px;
  flex-wrap: nowrap;
  margin-top: 30px;
}
.upload_history_list_point{
  margin-right: 25px;
  height: 90px;
  float: left;
  position: relative;
  cursor: pointer;
}
.upload_history_list_parent .upload_history_list_point:last-child{
  margin-right: 0;
}

.upload_history_list_point img{
  height: 100%;
  display: block;
  border-radius: 10px;
}
.upload_history_list_point:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #FFD166;
  border-radius: 10%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: 0.3s;
}

// .upload_history_list_point:hover:after{
//   opacity: 0.5;
// }
.upload_history_list_point.active:after{
  opacity: 1;
}

.upload_history_list_point_loader{
  position: absolute;
  width: 60px;
  height: 4px;
  background: #EF476F;
  border-radius: 4px;
  overflow: hidden;
  top: -16px;
  left: calc(50% - 30px);
  
}

.upload_history_list_point_loader_line{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  height: 4px;
  background: #06D6A0;
}
.upload_history_list_point_delete{
  width: 22px;
  height: 22px;
  position: absolute;
  right: -3px;
  top: -3px;
  background-image: url(/img/upload/delete.png);
  background-size: cover;
}




input[type="checkbox"]{
  display: none;
}

.upload_history_list .ui-checkboxradio-label{
	position: absolute;
  left: 2px;
  bottom: 2px;
  z-index: 2;
}
.upload_history_list .ui-checkboxradio-icon{
  display: block;
  width: 22px;
  height: 22px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
	float: left;
	margin-right: 10px;
}
.upload_history_list .ui-checkboxradio-icon.ui-state-checked{
  background-image: url(/img/check.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 4px 6px;
}
.upload_history_list .ui-checkboxradio-label a{
	color: #d31554;
}

.dowonload_file_preview{
  float: left;
  margin-top: 25px;
  width: 160px;
  
}
.dowonload_file_preview_icon{
  width: 30px;
  height: 30px;
  background-image: url(/img/upload/button_download.svg);
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #06D6A0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  float: left;
}

.dowonload_file_preview_info{
  float: right;
  position: relative;
  width: calc(100% - 40px);
  color: #FFD166;
  line-height: 15px;
}
.dowonload_file_preview_info_name{
  font-family: Gilroy-Bold;
  font-size: 10px;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dowonload_file_preview_info_size{
  font-size: 10px;
}
.dowonload_file_preview_info_icon{
  position: absolute;
  right: 0;
  top: 0;
  
}
.like_result{
  float: right;
  margin-top: 25px;
}
.like_result_text{
  color: #06D6A0;
  font-size: 10px;
  line-height: 30px;
  float: right;
}
.like_result_icon{
  margin-left: 6px;
  float: right;
  width: 30px;
  height: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #073B4C;
  border-radius: 50%;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.like_result_icon_yes{
  background-image: url(/img/upload/like.svg);
}
.like_result_icon_no{
  background-image: url(/img/upload/dislike.svg);
}


.selector_type_processor_info_icon_text{
  font-size: 10px;
  margin-top: 10px;
}





.pop_up{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.3);
  z-index: 100000;
  overflow: auto;
  display: none;
}
.pop_up_center{
  background: #073B4C;
  box-shadow: 0px -12px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  margin: 100px auto;
}
.pop_up_center_pay_info{
  width: 520px;
}

.pop_up_center_content{
  padding: 50px;
}
.pop_up_center_close{
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url(/img/upload/delete.png);
  background-size: cover;
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

.pop_up_center_pay_info_line{
  width: 50px;
  height: 5px;
  background: #FFD166;
  margin: 15px auto;
}
.pop_up_center_pay_info_title{
  font-size: 20px;
  color: #06D6A0;
  font-family: Gilroy-Bold;
  text-align: center;
  margin-top: 20px;
}
.pop_up_center_pay_info_block{
  margin-top: 30px;
  border: 1px solid rgba(6, 214, 160, 0.3);
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

.pop_up_center_pay_info_block_order_title{
  font-size: 14px;
  color: #FFD166;
}
.pop_up_center_pay_info_block_order_list{
  color: #06D6A0;
  font-size: 12px;
  margin-top: 15px;
}
.pop_up_center_pay_info_block_order_list span{
  font-family: Gilroy-Bold;
  color: #FFD166;
  font-size: 14px;
  
}
.pop_up_center_pay_info_block_order_button{
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  right: 15px;
  top: calc(50% - 15px);

  background: #C4C4C4;
  border-radius: 100px;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
}
.pop_up_center_pay_info_block_left{
  width: calc(50% - 47px);
  float: left;
}
.pop_up_center_pay_info_block_right{
  width: calc(50% - 47px);
  float: right;
}

.pop_up_center_pay_info_block_icon{
  position: absolute;
  right: 15px;
  top: 15px;
}

.pop_up_center_pay_info_block_price{
  font-size: 12px;
  color: #06D6A0;
}
.pop_up_center_pay_info_block_price span{
  font-size: 20px;
  font-family: Gilroy-Bold;
  margin-right: 5px;
}
.pop_up_center_pay_info_block_price_one{
  text-align: center;
  height: 76px;
  line-height: 76px;
}

.pop_up_center_pay_info_block_price_left{
  float: left;
  width: 50%;
}
.pop_up_center_pay_info_block_price_subscribe{
  margin-bottom: 5px;
}
.pop_up_center_pay_info_block_price_left_title{
  color: #FFD166;
  font-size: 10px;
  margin-bottom: 5px;
}

.pop_up_center_pay_info_block_button{
  width: 145px;
  height: 35px;
  margin: 15px auto 0px auto;
  border-radius: 100px;
  font-family: Gilroy-Bold;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  cursor: pointer;
}
.pop_up_center_pay_info_block_button_buy{
  background: #0C0C0C;
  color: #FFF;
}
.pop_up_center_pay_info_block_button_subscribe{
  background: #06D6A0;
  color: #073B4C;
}
.pop_up_center_pay_info_cards{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.pop_up_center_pay_info_cards img{
  height: 45px;
}

.pop_up_center_pay_info_block_auth_text{
  line-height: 30px;
  color: #06D6A0;
}
.pop_up_center_pay_info_block_auth_text .full{
  font-family: Gilroy-Bold;
}
.pop_up_center_pay_info_block_auth_text .free{
  font-family: Gilroy-Bold;
  color: #FFD166;
}

.pop_up_center_pay_info_block_auth_button{
  font-family: Gilroy-Bold;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  right: 15px;
  top: calc(50% - 15px);

  background: #C4C4C4;
  border-radius: 100px;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
}


.pop_up_center_error{
  width: 340px;
}
.pop_up_center_error_image{
  text-align: center;
}
.pop_up_center_error_title{
  font-size: 20px;
  color: #FFD166;
  margin-top: 10px;
  font-family: Gilroy-Bold;
  text-align: center;
}
.pop_up_center_error_desription{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #06D6A0;
  text-align: center;
}

.pop_up_center_error_button_open_close{
  display: flex;
  justify-content: center;
  color: #06D6A0;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
.pop_up_center_error_button_open_close_icon{
  margin-left: 5px;
}
.pop_up_center_error_button_open_close_icon svg{
  display: block;
  margin-top: 6px;
}
.pop_up_center_error_button_open_close.open svg{
  transform: rotate(180deg);
}

.pop_up_center_error_button{
  width: 132px;
  height: 30px;
  margin: 30px auto 0px auto;

  background: #06D6A0;
  border-radius: 150px;
  text-align: center;
  line-height: 34px;
  font-family: Gilroy-Bold;
  cursor: pointer;
  font-size: 12px;
}


.pop_up_center_error_button_open_close_info{
  margin-top: 25px;
  color: #06D6A0;
  font-size: 13px;
  display: none;
}
.pop_up_center_error_button_open_close_info span{
  font-family: Gilroy-Bold;
  color: #FFD166;
}
























