.first_color_block_devise_sessions{
  background: linear-gradient(151.45deg, #FFD166 13.38%, rgba(6, 214, 160, 0.65) 40.82%);
  overflow: hidden;
}

.first_color_block_devise_registrations{
  background: linear-gradient(151.45deg, #FFD166 13.38%, rgba(6, 214, 160, 0.65) 40.82%);
  overflow: hidden;
}

.title_line{
  width: 100px;
  height: 10px;
  background: #06D6A0;
  margin: 0px auto 50px auto;
}

h1{
  font-family: Gilroy-Regular;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #073B4C;
  display: block;
  text-align: center;
}

.users_form{
  position: relative;
  width: 270px;
  margin: 40px auto 0px auto;
  
}
.users_form_content{
  padding: 20px;
}
.users_form_main_content{
  position: relative;
  z-index: 2;
}
.users_form_background_1{
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-size: cover;
}
.users_form_background_2{
  width: 100%;
  height: calc(100% - 125px);
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 0;
  background-size: 100%;
}
.users_form_background_3{
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-size: 100%;
}



.users_form_log_in .users_form_background_1{
  background-image: url(/img/users/log_in-1.png);
}
.users_form_log_in .users_form_background_2{
  background-image: url(/img/users/log_in-2.png);
}
.users_form_log_in .users_form_background_3{
  background-image: url(/img/users/log_in-3.png);
}

.users_form_sign_up .users_form_background_1{
  background-image: url(/img/users/sign_up-1.png);
}
.users_form_sign_up .users_form_background_2{
  background-image: url(/img/users/sign_up-2.png);
}
.users_form_sign_up .users_form_background_3{
  background-image: url(/img/users/sign_up-3.png);
}

// .users_form_sign_up{
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// 
// }



.users_form_menu{
  overflow: hidden;
}
.users_form_menu_point{
  cursor: pointer;
  height: 65px;
  display: block;
}


.users_form_sign_up .users_form_menu_point{
  width: 122px;
}

.users_form_log_in .users_form_menu_point{
  width: 50%;
  margin-left: 50%;
}


.users_form input{
  height: 40px;
  display: block;
  width: 100%;
  background: #F1F1F1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 20px; 
  text-indent: 20px;
  font-family: Gilroy-Bold;
  font-size: 14px;
}


.users_form button{
  height: 40px;
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px; 
  font-family: Gilroy-Bold;
  font-size: 14px;
  color: #FFF;
  position: relative;
}

.users_form_sign_up button{
  background: #073B4C;
}

.users_form_log_in button{
  background: #06D6A0;
}

.users_form button[disabled]{
  background: #ddd;
  color: #aaa;
  cursor: default;
}


input[type="checkbox"]{
  display: none;
}
.ui-checkboxradio{
  display: none;
  
}
.ui-checkboxradio-label{
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	cursor: pointer;
	display: block;
	line-height: 15px;
  margin-top: 20px;
}
.ui-checkboxradio-icon{
  display: block;
  width: 30px;
  height: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
	float: left;
	margin-right: 10px;
}
.ui-checkboxradio-icon.ui-state-checked{
  background-image: url(/img/check.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 7.5px 8.5px;
}
.ui-checkboxradio-label a{
	color: #d31554;
}

.users_form_log_in .ui-checkboxradio-label{
  line-height: 30px;
  color: #06D6A0;
  font-size: 16px;
  font-family: Gilroy-Bold;
}

.users_form_forgot{
  display: block;
  color: #FCD200;
  margin-top: 15px;
  font-family: Gilroy-Bold;
  font-size: 12px;
}










.button_loader{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.button_loader svg{
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  animation: preloader 0.8s infinite linear;
}
@keyframes preloader {
    to { transform: rotate(360deg); }
}

.users_form_error{
  margin-top: 20px;
  color: #EF476F;
  font-family: Gilroy-Bold;
  display: none;
}



.users_form_social_or{
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.users_form_social_button{
  display: block;
  width: 270px;
  margin: 0px auto 10px auto;
  height: 56px;
  border-radius: 28px;
  background: #F1F1F1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.users_form_social_button_icon{
  width: 34px;
  height: 34px;
  background-size: cover;
  float: left;
  margin: 11px;
}

.users_form_social_button_text{
  float: left;
  line-height: 60px;
  font-family: Gilroy-Bold;
  font-size: 14px;
  color: #073B4C;
}
.users_form_social_button_icon_facebook{
  background-image: url(/img/social/facebook.svg);
}
.users_form_social_button_icon_google{
  background-image: url(/img/social/google.svg);
}
.users_form_social_button_icon_vk{
  background-image: url(/img/social/vk.png);
}


.users_block_circle{
  position: absolute;
  background-image: url(/img/chess.svg);
  background-color: #FFF;
  background-attachment: fixed;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);

}

.users_block_circle_image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
}




.users_block_circle_up_1{
  width: 160px;
  height: 160px;
  right: -200px;
  top: -50px;
}
.users_block_circle_up_2{
  width: 160px;
  height: 160px;
  left: -220px;
  top: 100px;
}
.users_block_circle_up_3{
  width: 85px;
  height: 85px;
  left: -150px;
  top: 385px;
}
.users_block_circle_up_4{
  width: 115px;
  height: 115px;
  right: -150px;
  top: 220px;
}



.users_block_circle_up_1 .users_block_circle_image{
  background-image: url(/img/users/cirscles/up-1.png);
}
.users_block_circle_up_2 .users_block_circle_image{
  background-image: url(/img/users/cirscles/up-2.png);
}
.users_block_circle_up_3 .users_block_circle_image{
  background-image: url(/img/users/cirscles/up-3.png);
}
.users_block_circle_up_4 .users_block_circle_image{
  background-image: url(/img/users/cirscles/up-4.png);
}





.users_block_circle_in_1{
  right: -250px;
  top: -30px;
  width: 145px;
  height: 145px;
}

.users_block_circle_in_2{
  left: -260px;
  top: 40px;
  width: 200px;
  height: 200px;
}
.users_block_circle_in_3{
  left: -140px;
  top: 310px;
  width: 100px;
  height: 100px;
}
.users_block_circle_in_4{
  right: -170px;
  top: 250px;
  width: 115px;
  height: 115px;
  background: none;
}


.users_block_circle_in_1 .users_block_circle_image{
  background-image: url(/img/users/cirscles/in-1.png);
}
.users_block_circle_in_2 .users_block_circle_image{
  background-image: url(/img/users/cirscles/in-2.png);
}
.users_block_circle_in_3 .users_block_circle_image{
  background-image: url(/img/users/cirscles/in-3.png);
}
.users_block_circle_in_4 .users_block_circle_image{
  background-image: url(/img/users/cirscles/in-4.png);
}

.users_block_circle_text{
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
}
.users_block_circle_text span{
  font-size: 20px;
  color: #EF476F;
  font-family: Gilroy-Bold;
}
.users_block_circle_in_1 .users_block_circle_text{
  left: 70px;
  top: 170px;
  text-align: right;
}
.users_block_circle_in_2 .users_block_circle_text span{
  font-size: 24px;
}
.users_block_circle_in_2 .users_block_circle_text{
  left: -40px;
  top: -40px;
}
.users_block_circle_in_3 .users_block_circle_text{
  left: -120px;
  top: 90px;
}
.users_block_circle_in_4 .users_block_circle_text{
  left: 80px;
  top: 120px;
  text-align: right;
}


