<!DOCTYPE html>
<html>
  <head>
    <title>CutFish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' ,media: "all" %>
    <%= stylesheet_link_tag params[:controller], media: "all" %>
    
    <script src="https://api.cut.fish:9292/socket.io/socket.io.js"></script>
     
    <%= javascript_include_tag "application",'data-turbolinks-track' => true,:defer => "defer" %>
    <%= javascript_include_tag params[:controller] , :defer => "defer" %>
    
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">


  </head>

  <body>

    <div class="first_color_block first_color_block_<%=params[:controller].gsub('/','_')%>">

      <div class="content">

        <div class="header">
          <a href="/" class="logo">
            <img src="/img/logo.svg" alt="">
          </a>
    
          <% if user_signed_in? %>
            <a class="button_login" rel="nofollow" data-method="delete" href="/users/sign_out">Выйти</a>
          <% else %>
            <a href='/users/sign_in' class="button_login">
              Log in / Sign up
            </a>
          <% end %>
          

          <div class="language_selector">
            
          </div>

          <ul class='header_menu'>
            <li class='active'>
              <a href="#">
                Remove<br>
                Photo Background
              </a>
            </li>
            <li>
              <a href="#">
                Remove<br>
                Video Background
              </a>
            </li>
            <li class="header_menu_cases">
              <a href="#">
                <div>
                  <span>Use Cases</span>
                  <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 8 5" style="enable-background:new 0 0 8 5;" xml:space="preserve">
                  <polygon points="4,4.1 0.7,1.4 1.3,0.6 4,2.8 6.7,0.6 7.3,1.4 "/>
                  </svg>

                </div>
              </a>
              <div class="header_menu_cases_block">
                <div class="header_menu_cases_block_lists">
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/1.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      #CutFeed
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/2.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Individuals
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/3.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Bloggers
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/4.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      E-commerce
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/5.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Photographers
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/6.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Developers
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/7.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Media
                    </div>
                  </a>
                  <a href="#" class="header_menu_cases_block_point">
                    <div class="header_menu_cases_block_point_icon" style="background-image: url(/img/menu/8.png)"></div>
                    <div class="header_menu_cases_block_point_text">
                      Car Dealerships
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>

          </ul>

          <div class="clear"></div>




      </div>

    <%= yield %>
    
    <div class="footer">
      <div class="content">
        <div class="wave wave_footer"></div>
        
        <div class="footer_left">
          <div class="footer_line"></div>
          <div class="footer_title">
            Let’s get in Touch
          </div>
          <div class="footer_description">
            Sign up and we will provide you all info about new features
          </div>
          
          <form class='form_subscribe'>
            <input type="text" placeholder="Type your email here">
            <button>Subscribe</button>
          </form>
          <div class="form_subscribe_info">
            This form is protected by its Privacy Policy and Terms of Service
          </div>
        </div>
        <div class="footer_right">
          <div class="footer_line"></div>
          <div class="footer_title">
            Learn More
          </div>
          <div class="footer_description">
            Main sections without the need to scroll back
          </div>
          
          <ul>
            <li>
              <a href="">Remove Photo Background</a>
            </li>
            <li>
              <a href="">Pricing</a>
            </li>
            <li>
              <a href="">Remove Video Background</a>
            </li>
            <li>
              <a href="">FAQ</a>
            </li>
            <li>
              <a href="">#CutFeed</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      
    </div>
    <div class="footer_gray">
      <div class="content">
        <div class="logo">
          <img src="/img/logo.svg" alt="">
        </div>
        
        <div class="footer_menu">
          <div class="footer_menu_title">
            All Rights Reserved
          </div>
          <a href="">Privacy Policy</a>
          <a href="">Terms and Conditions</a>
          <a href="">Contact Us</a>
        </div>
        
        <a class="footer_point_social footer_point_social_3"></a>
        <a class="footer_point_social footer_point_social_2"></a>
        <a class="footer_point_social footer_point_social_1"></a>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
